body{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;

}
#company-name{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 90px;
    color: rgb(15, 132, 179);
}
.another-name{
    text-decoration: none;
    color: whitesmoke;
    background-color: palevioletred;
    border-radius: 10px;
    padding: 10px 20px;
}
.half-width{
    padding-left: 3%;
    width: 50%;
    font-size: 25px;
}
.half-width img{
    width: 80%;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.paragragh{
    color: rgb(51, 95, 151);
    font-weight: 600;
    text-align: justify;
}
.visiting-site{
    text-decoration: none;
    background-image: linear-gradient(royalblue,blue);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bolder;
}
.second-banner{
    background-image: url(images/3rdpic.jpg);


}
.second-name{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
    color: rgb(15, 132, 179);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.blue-color{
    color: rgba(42, 42, 199, 0.808);
    font-weight: bolder;
}
.food-item{
    width: 50%;
    margin-left: 2%;
    margin-right: 1.5%;
    padding: 60px 70px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 25px;
    text-align: justify;
}
.food-item img{
        width: 70%;
}
.resize{
    width: 150%;
    height: auto;
    border-radius: 20px;
    align-items: center;
}
#description{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bolder;
}
footer{
    text-align: center;
    background-color: honeydew;
}
.row{
    width: 100%;
    margin-left: 2%;
    margin-right: 1.5%;
    padding: 60px 70px;
    box-shadow: 10px 10px 20px rgba(161, 156, 156, 0.904);
    border-radius: 25px;
    text-align: justify;
}

.column{
    float: left;
    width: 33.3334%;
    text-align: center;
}